

https://download.openmmlab.com/mmcv/dist/cu102/torch1.8.0/mmcv-2.0.0-cp39-cp39-manylinux1_x86_64.whl
https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-linux_x86_64.whl

addict==2.4.0
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.1
cycler==0.12.1
defusedxml==0.7.1
filelock==3.14.0
fonttools==4.53.1
idna==3.8
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.3
jmespath==0.10.0
kiwisolver==1.4.7
lit==18.1.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mmdet==3.3.0
mmengine==0.10.4
mmyolo==0.6.0
model-index==0.1.11
mpmath==1.3.0
networkx==3.2.1
numpy==1.23.2
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.1
ordered-set==4.1.0
oss2==2.17.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.3.2
prettytable==3.11.0
pycocotools==2.0.8
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2023.4
PyYAML==6.0.2
requests==2.28.2
rich==13.4.2
scipy==1.13.1
shapely==2.0.6
six==1.16.0
supervision==0.24.0rc1
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
terminaltables==3.1.10
tomli==2.0.1
tqdm==4.65.2
triton==2.0.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==1.26.20
wcwidth==0.2.13
yapf==0.40.2
zipp==3.20.1
