body {
    font-family: 'Source Code Pro', Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
    font-size: 14px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #4493f8;
    background-color: #388bfd1a;
    padding: 2px 4px;
    margin: 0px 4px;
    border-radius: 5px;
}

.subtitle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sv-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
}

.theme-toggle {
    display: none;
}

.theme-toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-toggle-label .fas {
    font-size: 1.5em;
    margin: 0 5px;
}

.theme-toggle-label .fa-sun {
    color: #000;
}

.theme-toggle-label .fa-moon {
    color: #fff;
    display: none;
}

.theme-toggle:checked + .theme-toggle-label .fa-sun {
    display: inline;
}

.theme-toggle:checked + .theme-toggle-label .fa-moon {
    display: none;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
}

.tooltip-text {
    display: none;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
}

.tooltip-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tooltip-text li {
    margin: 0;
    padding: 0;
}

.fas.fa-cog:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
}
